In [1]:
import pandas as pd

# Data Cleaning

In [4]:
data_folder = 'data/'

df_raw = pd.read_csv(data_folder + 'ScreenTime_Data.CSV', header=0)
pd.DataFrame(df_raw.columns)

                                                     0
0    PARTICIPANT - NOTE DUPLICATES (1ST ROW RAW DAT...
1                                             Included
2                                         ASQ_Included
3                            Relaxing_Content_Included
4                         Educational_Content_Included
..                                                 ...
134                        CBCL_Sleep_Problems_T_Score
135                    LOG_CBCL_Sleep_Problems_T_Score
136                    CBCL_Attention_Problems_T_Score
137                LOG_CBCL_Attention_Problems_T_Score
138                        CBCL_Total_Problems_T_Score

[139 rows x 1 columns]

In [139]:
# Drop rows with Included != 1, ASQ_Included != 1, Educational_Content_Included != 1
df = df_raw[(df_raw['Included'] == 1) & (df_raw['ASQ_Included'] == 1) & (df_raw['Educational_Content_Included'] == 1)]
df

,"PARTICIPANT - NOTE DUPLICATES (1ST ROW RAW DATA, 2ND ROW CODED)",Included,ASQ_Included,Relaxing_Content_Included,Educational_Content_Included,Child_Age,Gender,Caregiver_Relationship_to_child,Years_Education,Parent_age,...,Reversed_ASQ_Communication_All_Children,SQRT_Reversed_ASQ_Communication_All_Children,ASQ_Prob Sol total score,Reversed_ASQ_Prob Sol total score,SQRT_Reversed_ASQ_Prob Sol total score,CBCL_Sleep_Problems_T_Score,LOG_CBCL_Sleep_Problems_T_Score,CBCL_Attention_Problems_T_Score,LOG_CBCL_Attention_Problems_T_Score,CBCL_Total_Problems_T_Score
1,RAW 2,1,1,1.0,1.0,3.455540,Female,Mother,15,32,...,5.0,2.236068,55.0,5.0,2.236068,51.0,1.707570,51.0,1.707570,46.0
2,RAW 3,1,1,2.0,1.0,5.419973,Male,Mother,11,38,...,0.0,0.000000,60.0,0.0,0.000000,50.0,1.698970,51.0,1.707570,49.0
6,RAW 7,1,1,1.0,1.0,3.354309,Female,Mother,17,38,...,15.0,3.872983,50.0,10.0,3.162278,53.0,1.724276,56.0,1.748188,62.0
7,RAW 8,1,1,1.0,1.0,4.932969,Female,Mother,13,45,...,10.0,3.162278,60.0,0.0,0.000000,50.0,1.698970,50.0,1.698970,29.0
8,RAW 9,1,1,1.0,1.0,3.077975,Male,Mother,17,32,...,15.0,3.872983,55.0,5.0,2.236068,51.0,1.707570,50.0,1.698970,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,RAW 106,1,1,1.0,1.0,3.600547,Male,Mother,12,30,...,10.0,3.162278,30.0,30.0,5.477226,56.0,1.748188,56.0,1.748188,59.0
105,RAW 107,1,1,1.0,1.0,3.813953,Male,Mother,19,34,...,25.0,5.000000,55.0,5.0,2.236068,51.0,1.707570,56.0,1.748188,47.0
106,Raw 108,1,1,1.0,1.0,4.938440,Male,Mother,13,39,...,25.0,5.000000,50.0,10.0,3.162278,70.0,1.845098,51.0,1.707570,55.0
109,RAW 111,1,1,1.0,1.0,5.305062,Male,Mother,16,39,...,0.0,0.000000,60.0,0.0,0.000000,59.0,1.770852,51.0,1.707570,46.0
111,RAW 113,1,1,2.0,1.0,3.819425,Male,Father,21,34,...,0.0,0.000000,60.0,0.0,0.000000,53.0,1.724276,51.0,1.707570,43.0

select columns:
- EDUCATIONAL_Interactive in name
- ASQ in name
- AVG_ALLWEEK_Continuous_EDUCATIONAL in name
- MOSTOFTEN not in name
- CBCL in name
- exactly: Child_Age
- exactly: Gender
- exactly: Years_Education
- exactly: Caregiver_Relationship_to_child

In [140]:
df = df[[
    col for col in df.columns
    if ('EDUCATIONAL_Interactive' in col and 'MOSTOFTEN' not in col) or
       ('ASQ' in col) or
       ('CBCL' in col) or
       ('AVG_ALLWEEK_Continuous_EDUCATIONAL' in col) or
       (col in ['Child_Age', 'Gender', 'Years_Education', 'Caregiver_Relationship_to_child', 'PARTICIPANT - NOTE DUPLICATES (1ST ROW RAW DATA, 2ND ROW CODED)'])
]]
df.columns

Index(['PARTICIPANT - NOTE DUPLICATES (1ST ROW RAW DATA, 2ND ROW CODED)',
       'ASQ_Included', 'Child_Age', 'Gender',
       'Caregiver_Relationship_to_child', 'Years_Education',
       'AVG_ALLWEEK_Continuous_EDUCATIONAL_Documentaries/how to's',
       'AVG_ALLWEEK_Continuous_EDUCATIONAL_creative programs',
       'AVG_ALLWEEK_Continuous_EDUCATIONAL_learning apps',
       'AVG_ALLWEEK_Continuous_EDUCATIONAL_information searching',
       'AVG_ALLWEEK_Continuous_EDUCATIONAL_writing/drawing/painting',
       'AVG_ALLWEEK_Continuous_EDUCATIONAL_taking photos/filming',
       'EDUCATIONAL_Interactive_SoLO_Documentaries/how to's',
       'EDUCATIONAL_Interactive_SoLO_creative programs',
       'EDUCATIONAL_Interactive_SoLO_learning apps',
       'EDUCATIONAL_Interactive_SoLO_information searching',
       'EDUCATIONAL_Interactive_SoLO_writing/drawing/painting',
       'EDUCATIONAL_Interactive_SoLO_taking photos/filming',
       'ASQ_Communication_All_Children',
       'Reversed_ASQ_Communication_All_Children',
       'SQRT_Reversed_ASQ_Communication_All_Children',
       'ASQ_Prob Sol total score', 'Reversed_ASQ_Prob Sol total score',
       'SQRT_Reversed_ASQ_Prob Sol total score', 'CBCL_Sleep_Problems_T_Score',
       'LOG_CBCL_Sleep_Problems_T_Score', 'CBCL_Attention_Problems_T_Score',
       'LOG_CBCL_Attention_Problems_T_Score', 'CBCL_Total_Problems_T_Score'],
      dtype='object')

In [141]:
# Rename columns
# all lowercase, symbols(space, /, ') to underscores
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('/', '_').str.replace("'", '')
# avg_allweek_continuous_educational_ -> week_
# educational_interactive_solo_ -> is_solo_
df.columns = df.columns.str.replace('avg_allweek_continuous_educational_', 'week_')
df.columns = df.columns.str.replace('educational_interactive_solo_', 'is_solo_')
# PARTICIPANT - NOTE DUPLICATES (1ST ROW RAW DATA, 2ND ROW CODED) -> id
df = df.rename(columns={'participant_-_note_duplicates_(1st_row_raw_data,_2nd_row_coded)': 'id'})
df.columns

Index(['id', 'asq_included', 'child_age', 'gender',
       'caregiver_relationship_to_child', 'years_education',
       'week_documentaries_how_tos', 'week_creative_programs',
       'week_learning_apps', 'week_information_searching',
       'week_writing_drawing_painting', 'week_taking_photos_filming',
       'is_solo_documentaries_how_tos', 'is_solo_creative_programs',
       'is_solo_learning_apps', 'is_solo_information_searching',
       'is_solo_writing_drawing_painting', 'is_solo_taking_photos_filming',
       'asq_communication_all_children',
       'reversed_asq_communication_all_children',
       'sqrt_reversed_asq_communication_all_children',
       'asq_prob_sol_total_score', 'reversed_asq_prob_sol_total_score',
       'sqrt_reversed_asq_prob_sol_total_score', 'cbcl_sleep_problems_t_score',
       'log_cbcl_sleep_problems_t_score', 'cbcl_attention_problems_t_score',
       'log_cbcl_attention_problems_t_score', 'cbcl_total_problems_t_score'],
      dtype='object')

In [142]:
week_hours_pattern = "week_"
interactive_pattern = "is_solo_"
# Interactive columns: 1 = with someone; 2 = alone; 3 = does not engage with the content
interactive_columns = [col for col in df.columns if interactive_pattern in col]

df['interactive'] = 0.0
df['solo'] = 0.0

for solo_col in interactive_columns:
    category = solo_col.replace(interactive_pattern, '')
    hours_col = week_hours_pattern + category
    for index, row in df.iterrows():
        interaction_type = row[solo_col]
        if interaction_type == 1:  # Interactive
          df.loc[index, 'interactive'] += row[hours_col]
        elif interaction_type == 2:  # Solo
          df.loc[index, 'solo'] += row[hours_col]
df[['solo', 'interactive']]

           solo  interactive
1    270.000000    15.000000
2      0.000000    30.000000
6      0.000000    40.714286
7      0.000000   492.857143
8     30.000000     0.000000
..          ...          ...
104   57.857143    75.000000
105   45.000000     0.000000
106    0.000000   105.000000
109  105.000000    19.285714
111    0.000000    15.000000

[82 rows x 2 columns]

In [143]:
# Scale scores: min-max to 1-100, int

# drop rows with missing values in 'asq_communication_all_children', 'asq_prob_sol_avg_score', 'cbcl_attention_problems_t_score'

df = df.dropna(subset=['asq_communication_all_children', 'asq_prob_sol_total_score', 'cbcl_attention_problems_t_score'])

min_comm = df['asq_communication_all_children'].min()
max_comm = df['asq_communication_all_children'].max()

min_prob = df['asq_prob_sol_total_score'].min()
max_prob = df['asq_prob_sol_total_score'].max()

min_att = df['cbcl_attention_problems_t_score'].min()
max_att = df['cbcl_attention_problems_t_score'].max()

# Apply min-max scaling and convert to integer
df['communication_score'] = ((df['asq_communication_all_children'] - min_comm) / (max_comm - min_comm) * 99 + 1).astype(int)
df['problem_solving_score'] = ((df['asq_prob_sol_total_score'] - min_prob) / (max_prob - min_prob) * 99 + 1).astype(int)
df['attention_score'] = ((df['cbcl_attention_problems_t_score'] - min_att) / (max_att - min_att) * 99 + 1).astype(int)

# --- 2. Calculate avg_score ---

df['avg_score'] = ((df['communication_score'] + df['problem_solving_score'] + df['attention_score']) / 3).astype(int)

df[['communication_score', 'problem_solving_score', 'attention_score', 'avg_score']]

     communication_score  problem_solving_score  attention_score  avg_score
1                     87                     89                5         60
2                    100                    100                5         68
6                     62                     78               27         55
7                     75                    100                1         58
8                     62                     89                1         50
..                   ...                    ...              ...        ...
104                   75                     34               27         45
105                   38                     89               27         51
106                   38                     78                5         40
109                  100                    100                5         68
111                  100                    100                5         68

[77 rows x 4 columns]

In [144]:
df.columns

Index(['id', 'asq_included', 'child_age', 'gender',
       'caregiver_relationship_to_child', 'years_education',
       'week_documentaries_how_tos', 'week_creative_programs',
       'week_learning_apps', 'week_information_searching',
       'week_writing_drawing_painting', 'week_taking_photos_filming',
       'is_solo_documentaries_how_tos', 'is_solo_creative_programs',
       'is_solo_learning_apps', 'is_solo_information_searching',
       'is_solo_writing_drawing_painting', 'is_solo_taking_photos_filming',
       'asq_communication_all_children',
       'reversed_asq_communication_all_children',
       'sqrt_reversed_asq_communication_all_children',
       'asq_prob_sol_total_score', 'reversed_asq_prob_sol_total_score',
       'sqrt_reversed_asq_prob_sol_total_score', 'cbcl_sleep_problems_t_score',
       'log_cbcl_sleep_problems_t_score', 'cbcl_attention_problems_t_score',
       'log_cbcl_attention_problems_t_score', 'cbcl_total_problems_t_score',
       'interactive', 'solo', 'communication_score', 'problem_solving_score',
       'attention_score', 'avg_score'],
      dtype='object')

In [145]:
# Drop columns
df = df.drop(columns=[
    'asq_included', 'asq_communication_all_children',
       'reversed_asq_communication_all_children',
       'sqrt_reversed_asq_communication_all_children',
       'asq_prob_sol_total_score', 'reversed_asq_prob_sol_total_score',
       'sqrt_reversed_asq_prob_sol_total_score', 'cbcl_sleep_problems_t_score',
       'log_cbcl_sleep_problems_t_score', 'cbcl_attention_problems_t_score',
       'log_cbcl_attention_problems_t_score', 'cbcl_total_problems_t_score',
])

In [146]:
df.columns

Index(['id', 'child_age', 'gender', 'caregiver_relationship_to_child',
       'years_education', 'week_documentaries_how_tos',
       'week_creative_programs', 'week_learning_apps',
       'week_information_searching', 'week_writing_drawing_painting',
       'week_taking_photos_filming', 'is_solo_documentaries_how_tos',
       'is_solo_creative_programs', 'is_solo_learning_apps',
       'is_solo_information_searching', 'is_solo_writing_drawing_painting',
       'is_solo_taking_photos_filming', 'interactive', 'solo',
       'communication_score', 'problem_solving_score', 'attention_score',
       'avg_score'],
      dtype='object')

In [147]:
# turn is_solo_? to int
interactive_columns = [col for col in df.columns if interactive_pattern in col]
for col in interactive_columns:
    df[col] = df[col].astype(int)

df.dtypes

id                                   object
child_age                           float64
gender                               object
caregiver_relationship_to_child      object
years_education                      object
week_documentaries_how_tos          float64
week_creative_programs              float64
week_learning_apps                  float64
week_information_searching          float64
week_writing_drawing_painting       float64
week_taking_photos_filming          float64
is_solo_documentaries_how_tos         int64
is_solo_creative_programs             int64
is_solo_learning_apps                 int64
is_solo_information_searching         int64
is_solo_writing_drawing_painting      int64
is_solo_taking_photos_filming         int64
interactive                         float64
solo                                float64
communication_score                   int64
problem_solving_score                 int64
attention_score                       int64
avg_score                             int64
dtype: object

In [161]:
def pivot_activity_data(df: pd.DataFrame) -> pd.DataFrame:
    activity_types = [
        "documentaries_how_tos",
        "creative_programs",
        "learning_apps",
        "information_searching",
        "writing_drawing_painting",
        "taking_photos_filming",
    ]
    
    # Melt to get 'spent'
    df_spent = df.melt(
        id_vars=[
            "id",
            "child_age",
            "gender",
            "caregiver_relationship_to_child",
            "years_education",
            "communication_score",
            "problem_solving_score",
            "attention_score",
            "avg_score",
        ],
        value_vars=[f"week_{x}" for x in activity_types],
        var_name="activity_type",
        value_name="spent",
    )
    df_spent["activity_type"] = df_spent["activity_type"].str.replace("week_", "", regex=False)

    # Melt to get values for 'solo_interactive_type'
    df_solo = df.melt(
        id_vars=[
            "id",
            "child_age",
            "gender",
            "caregiver_relationship_to_child",
            "years_education",
            "communication_score",
            "problem_solving_score",
            "attention_score",
            "avg_score",
        ],
        value_vars=[f"is_solo_{x}" for x in activity_types],
        var_name="temp_activity_type",
        value_name="solo_value",
    )
    df_solo["temp_activity_type"] = df_solo["temp_activity_type"].str.replace(
        "is_solo_", "", regex=False
    )

    # Merge the two melted DataFrames
    df_merged = pd.merge(
        df_spent,
        df_solo,
        left_on=[
            "id",
            "child_age",
            "gender",
            "caregiver_relationship_to_child",
            "years_education",
            "communication_score",
            "problem_solving_score",
            "attention_score",
            "avg_score",
            "activity_type",
        ],
        right_on=[
            "id",
            "child_age",
            "gender",
            "caregiver_relationship_to_child",
            "years_education",
            "communication_score",
            "problem_solving_score",
            "attention_score",
            "avg_score",
            "temp_activity_type",
        ],
        how="inner",
    )

    # Map solo/interactive integer values to labels
    df_merged["solo_interactive_type"] = df_merged["solo_value"].map({1: "Interactive", 2: "Solo", 3: None})

    # Select and order final columns
    df_final = df_merged[
        [
            "id",
            "child_age",
            "gender",
            "caregiver_relationship_to_child",
            "years_education",
            "activity_type",
            "spent",
            "solo_interactive_type",
            "communication_score",
            "problem_solving_score",
            "attention_score",
            "avg_score",
        ]
    ]

    return df_final

new_df = pivot_activity_data(df)
new_df.columns

Index(['id', 'child_age', 'gender', 'caregiver_relationship_to_child',
       'years_education', 'activity_type', 'spent', 'solo_interactive_type',
       'communication_score', 'problem_solving_score', 'attention_score',
       'avg_score'],
      dtype='object')

In [162]:
new_df

,id,child_age,gender,caregiver_relationship_to_child,years_education,activity_type,spent,solo_interactive_type,communication_score,problem_solving_score,attention_score,avg_score
0,RAW 2,3.455540,Female,Mother,15,documentaries_how_tos,15.000000,Interactive,87,89,5,60
1,RAW 3,5.419973,Male,Mother,11,documentaries_how_tos,0.000000,None,100,100,5,68
2,RAW 7,3.354309,Female,Mother,17,documentaries_how_tos,0.000000,None,62,78,27,55
3,RAW 8,4.932969,Female,Mother,13,documentaries_how_tos,278.571429,Interactive,75,100,1,58
4,RAW 9,3.077975,Male,Mother,17,documentaries_how_tos,0.000000,None,62,89,1,50
...,...,...,...,...,...,...,...,...,...,...,...,...
457,RAW 106,3.600547,Male,Mother,12,taking_photos_filming,15.000000,Interactive,75,34,27,45
458,RAW 107,3.813953,Male,Mother,19,taking_photos_filming,0.000000,None,38,89,27,51
459,Raw 108,4.938440,Male,Mother,13,taking_photos_filming,45.000000,Interactive,38,78,5,40
460,RAW 111,5.305062,Male,Mother,16,taking_photos_filming,4.285714,Interactive,100,100,5,68
461,RAW 113,3.819425,Male,Father,21,taking_photos_filming,0.000000,None,100,100,5,68

In [163]:
new_df['solo_interactive_type'].value_counts()

solo_interactive_type
Interactive    189
Solo            58
Name: count, dtype: int64

In [166]:
# set solo_interactive_type to Solo if spent != 0 and solo_interactive_type is None
new_df.loc[(new_df['spent'] != 0) & (new_df['solo_interactive_type'].isnull()), 'solo_interactive_type'] = 'Solo'
new_df['solo_interactive_type'].value_counts()

solo_interactive_type
Interactive    189
Solo            72
Name: count, dtype: int64

In [167]:
# save to data.csv
new_df.to_csv(data_folder + 'data.csv', index=False)

In [172]:
new_df[(new_df['spent'] < 20) & (new_df['problem_solving_score'] == 100)]

,id,child_age,gender,caregiver_relationship_to_child,years_education,activity_type,spent,solo_interactive_type,communication_score,problem_solving_score,attention_score,avg_score
1,RAW 3,5.419973,Male,Mother,11,documentaries_how_tos,0.000000,None,100,100,5,68
6,RAW 11,3.184679,Male,Mother,18,documentaries_how_tos,0.000000,Interactive,100,100,1,67
7,RAW 12,4.391245,Female,Mother,18,documentaries_how_tos,0.000000,Interactive,100,100,1,67
13,RAW 18,3.518468,Male,Mother,17,documentaries_how_tos,0.000000,None,62,100,1,54
15,Raw 21,4.563611,Male,Mother,18,documentaries_how_tos,12.857143,Interactive,87,100,5,64
...,...,...,...,...,...,...,...,...,...,...,...,...
453,Raw 101,4.774282,Male,Mother,17,taking_photos_filming,15.000000,Interactive,100,100,1,67
454,Raw 102,3.622435,Female,Mother,17,taking_photos_filming,15.000000,Interactive,87,100,1,62
456,RAW 105,3.105335,Male,Mother,20,taking_photos_filming,10.714286,Solo,87,100,1,62
460,RAW 111,5.305062,Male,Mother,16,taking_photos_filming,4.285714,Interactive,100,100,5,68
461,RAW 113,3.819425,Male,Father,21,taking_photos_filming,0.000000,None,100,100,5,68